*{
	font-family: "Open Sans";
}

body{
	background-color: #1abc9c;
	margin-bottom: 60px; /*sticky footer*/
}

th{
	font-size: 15px;
}

/*Sticky Footer*/
html {
	position: relative;
	min-height: 100%;
}

#hero{
	font-size: 50px;
	font-weight: 800;
	letter-spacing: -4px;
	margin-top: 50px;
	font-style: italic;
	color: #ecf0f1;
}

#tableviewcontainer{
	margin-top: 20px;
	margin-bottom: 100px;
}

.content{
	margin-top: 30px;
	margin-bottom: 30px;
}

.tblcell{
	font-weight: lighter;
	font-size: 15px;
}

.tblheading{
	font-weight: lighter;
	font-size: 20px;
}

#nousersfound{
	height: 60px;
	background-color: #d9534f;
	padding-top: 12px;
	font-size: 20px;
	font-weight: lighter;
	border: 2px white solid;
}

#footer{
	position: absolute;
	height: 60px;
	bottom: 0px;
	background-color: white;
	width: 100%;
}

.footnote{
	margin-top: 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(min-width:768px){}
@media(min-width:992px){
		#hero{
			font-size: 90px;
	}
	th{
	font-size: 25px;
}

.tblcell{
	font-size: 25px;
}

.tblheading{
	font-size: 35px;
}

}
@media(min-width:1200px){}